/*СТИЛИ СТРАНИЦЫ МЕРОПРИЯТИЙ*/

.content4 {
    margin: 0 auto;
    padding: 0 108px;  
    align-items: center;
    max-width: 1920px;
    width: 100%;
}

/*БЕГУЩАЯ СТРОКА*/

.marquee {
    margin-top: 80px;
    margin-bottom: 80px;
    overflow: hidden;
}

.track {
    display: flex;
    width: max-content;
}

.slide {
    width: 2163px;
    height: 242px;
    flex-shrink: 0;
    margin-right: 80px;
}


.masked {
    width: 100%;
    height: 242px;
    filter: brightness(1.1) contrast(1.2);

    background: linear-gradient(
        120deg,
        #0a1f44,
        #1e4fa3,
        #6fa3ff,
        #fff,
        #1e4fa3,
        #0a1f44
    );
    background-size: 200% 100%;
    animation: gradientMove 6s linear infinite;

    /* ВОТ ТУТ ТВОЙ SVG */
    -webkit-mask: url("/images/PARTY.svg") no-repeat center;
    mask: url("/images/PARTY.svg") no-repeat center;

    -webkit-mask-size: contain;
    mask-size: contain;
}

@keyframes gradientMove {
    from { background-position: 0% 50%; }
    to   { background-position: 200% 50%; }
}

/* БЛОК С ПОЛОСКАМИ */

.stripes2 {
    position: absolute;
    inset: 0;
    z-index: 1;

    /* Градиент — как обычно */
    background: linear-gradient(
        120deg,
        #000000 0%,
        #060015 20%,
        #1e4fa3 40%,
        #6fa3ff 50%,
        #1e4fa3 65%,
        #060015 80%,
        #000000 100%);
    background-size: 300% 100%;
    animation: wave 14s linear infinite;

    /* Маска — только чтобы оставить форму полосок */
    -webkit-mask-image: url("/images/stripe.svg");
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    
    mask-image: url("/images/stripe.svg");
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
    mask-position: center;
}

/* Анимация "волны" */
@keyframes wave {
    0% {
        background-position: 0% 0;
    }
    100% {
        background-position: 300% 0;
    }
}

/*ПЕРВЫЙ БЛОК МЕРОПРИЯТИЙ*/

.hp-h3 h3{
    font-size: 72px;
    font-weight: 300;
    color: white;
    margin: 0;
    background-image: url('/images/Polosy.png');
    background-size: 188px;
    background-repeat: no-repeat;
    background-position: left 860px top -20px;
    margin-bottom: 40px;
}

.hb-info{
    display: grid;
    grid-template-columns: repeat(12, 1fr); /* 12 колонок */
    grid-template-rows: repeat(1, auto);    /* 4 строки */
    column-gap: 24px;
    align-items:start;
    margin-bottom: 128px;
}

.hb-text1{
    grid-column: 1 / 4;
}

.hb-image{
    max-width: 408px;
    width: 100%;
    height: 256px;
    object-fit:cover;
}

.hb-image2{
    max-width: 408px;
    width: 100%;
    height: 256px;
    object-fit:cover;
}

.var1{
    grid-column: 4 / 7;
}

.hb-text2{
    grid-column: 7 / 10;
}

.var2{
    grid-column: 10 / 13;
}

.btn-galery {
    color: #D3E5FF;
    border: 1px solid #D3E5FF;
    background: transparent;
    cursor: pointer;
    margin-top: 36px;
    width: 264px;
    align-items: center;
    height: 48px;
    flex-shrink: 0;
    font-size: 18px;
    font-weight: 300;
}

.btn-galery:hover{
    background: #D3E5FF;
    color: #000;
    border: none;
}

.btn-galery:active{
    opacity: 0.5;
    background: transparent;
    color: #D3E5FF;
    border: 1px solid #D3E5FF;
}

/*ВТОРОЙ БЛОК МЕРОПРИЯТИЙ - BEAUTY DAY*/

.bd-h3 h3{
    font-size: 72px;
    font-weight: 300;
    color: white;
    margin: 0;
    margin-bottom: 40px;
    margin-top: 128px;
}

.bd-info{
    display: grid;
    grid-template-columns: repeat(12, 1fr); /* 12 колонок */
    grid-template-rows: repeat(7, auto);    /* 4 строки */
    column-gap: 24px;
    align-items:start;
    margin-bottom: 128px;
}

.bd-text1{
    grid-column: 1 / 7;
    grid-row: 1;
}

.bd-text2{
    grid-column: 1 / 7;
    grid-row: 2;
    margin-top: 24px;
}

.bd-text3{
    grid-column: 1 / 7;
    grid-row: 3;
    margin-top: 24px;
}

.bd-image1{
    grid-column: 7 / 13;
    grid-row: 1 / 4;
    max-width: 840px;
    width: 100%;
    height: 536px;
    object-fit:cover;
}

.bd-image2{
    grid-column: 1 / 7;
    grid-row: 4 / 9;
    max-width: 840px;
    width: 100%;
    height: 536px;
    object-fit:cover;
    margin-top: 24px;
}

.bd-image{
    max-width: 408px;
    width: 100%;
    height: 256px;
    object-fit:cover;
}

.bd-text4{
    grid-column: 7 / 10;
    grid-row: 4 / 5;
    margin-top: 24px;
}

.bd-text5{
    grid-column: 7 / 10;
    grid-row: 6 / 7;
    margin-top: 24px;
}

.var3{
    grid-column: 10 / 13;
    grid-row: 4 / 5;
    margin-top: 24px;
}

.var4{
    grid-column: 10 / 13;
    grid-row: 6 / 7;
    margin-top: 24px;
}

/*ТРЕТИЙ БЛОК МЕРОПРИЯТИЙ - ЛАГЕРЬ*/

.event-h3{
    grid-column: 1 / 7;
    grid-row: 1;
}

.event-h3 h3{
    font-size: 72px;
    font-weight: 300;
    color: white;
    margin: 0;
    background-image: url('/images/Polosy.png');
    background-size: 188px;
    background-repeat: no-repeat;
    background-position: left 564px top -20px;
    margin-bottom: 40px;
}

.event-info{
    display: grid;
    grid-template-columns: repeat(12, 1fr); /* 12 колонок */
    grid-template-rows: repeat(6, auto);    /* 4 строки */
    column-gap: 24px;
    align-items:start;
    margin-bottom: 128px;
}

.event-text{
    grid-column: 1 / 4;
    grid-row: 2;
}

.event-text2{
    grid-column: 4 / 7;
    grid-row: 2;
}

.var5{
    grid-column: 7 / 10;
    grid-row: 1 / 3;
}

.var6{
    grid-column: 10 / 13;
    grid-row: 1 / 3;
}

.event-image{
    grid-column: 1 / 7;
    grid-row: 3 / 7;
    max-width: 840px;
    width: 100%;
    height: 536px;
    object-fit:cover;
    margin-top: 24px;
}

.event-h3-2{
    grid-column: 7 / 10;
    grid-row: 3;
    margin-top: 24px;
}

.event-h3-2 h3{
    font-size: 72px;
    font-weight: 300;
    color: white;
    margin: 0;
}

.event-text3{
    grid-column: 7 / 10;
    grid-row: 4;
}

.event-text4{
    grid-column: 10 / 13;
    grid-row: 3 / 5;
    margin-top: 24px;
}

.var7{
    grid-column: 7 / 10;
    grid-row: 5 / 7;
     margin-top: 24px;
}

.event-text5{
    grid-column: 10 / 13;
    grid-row: 5 / 7;
    margin-top: 24px;
    justify-content: space-between;
}


@media (min-width: 1740px) and (max-width: 1919px) {
    .hp-h3 h3{
        font-size: 64px;
        background-size: 188px;
        background-repeat: no-repeat;
        background-position: left 750px top -24px;
        margin-bottom: 40px;
    }

    .event-h3 h3{
        font-size: 64px;
        background-size: 188px;
        background-repeat: no-repeat;
        background-position: left 496px top -24px;
        margin-bottom: 0;
    }

    .bd-h3{
        font-size: 64px;
    }

    .event-h3-2{
        font-size: 64px;
    }

    .hb-image{
        min-height: 256px;
        height: 100%;
    }

    .bd-image1,
    .bd-image2,
    .event-image{
        min-height: 536px;
        height: 100%;
    }
}

@media (min-width: 1440px) and (max-width: 1739px) {

    
    .content4 {
        margin: 0 auto;
        padding: 0 64px;  
    }

    .marquee {
        margin-top: 56px;
        margin-bottom: 64px;
    }

    .slide {
        width: 1903px;
        height: 213px;
        flex-shrink: 0;
        margin-right: 80px;
    }

    .masked {
        width: 100%;
        height: 213px;
        /* ВОТ ТУТ ТВОЙ SVG */
        -webkit-mask: url("/images/PARTY2.svg") no-repeat center;
        mask: url("/images/PARTY2.svg") no-repeat center;
    }

    .hp-h3 h3{
        font-size: 56px;
        background-size: 156px;
        background-position: left 672px top -18px;
    }

    .hb-info{
        grid-template-columns: repeat(12, 1fr); /* 12 колонок */
        grid-template-rows: repeat(2, auto);    /* 4 строки */
        column-gap: 32px;
        margin-bottom: 104px;
    }

    .hb-text1{
        grid-column: 1 / 13;
        grid-row: 1;
        margin-bottom: 24px;
    }

    .hb-image{
        max-width: 600px;
        width: 100%;
        height: 260px;
    }

    .hb-image2{
        max-width: 600px;
        width: 100%;
        height: 260px;
    }

    .var1{
        grid-column: 1 / 5;
        grid-row: 2;
    }

    .hb-text2{
        grid-column: 5 / 9;
        grid-row: 2;
    }

    .var2{
        grid-column: 9 / 13;
        grid-row: 2;
    }



    /*ВТОРОЙ БЛОК МЕРОПРИЯТИЙ - BEAUTY DAY*/

    .bd-h3 h3{
        font-size: 56px;
        margin-bottom: 32px;
        margin-top: 104px;
    }

    .bd-info{
        grid-template-columns: repeat(12, 1fr); /* 12 колонок */
        grid-template-rows: repeat(6, auto);    /* 4 строки */
        column-gap: 24px;
        margin-bottom: 104px;
    }

    .bd-text1{
        grid-column: 1 / 7;
        grid-row: 1;
    }

    .bd-text2{
        grid-column: 1 / 7;
        grid-row: 2;
        margin-top: 24px;
    }

    .bd-text3{
        grid-column: 1 / 7;
        grid-row: 3;
        margin-top: 24px;
    }

    .bd-image1{
        grid-column: 7 / 13;
        grid-row: 1 / 3;
        max-width: 740px;
        width: 100%;
        height: 408px;
    }

    .bd-image2{
        grid-column: 1 / 7;
        grid-row: 4 / 7;
        max-width: 700px;
        width: 100%;
        height: 386px;
        margin-top: 24px;
    }

    .bd-image{
        max-width: 304px;
        width: 100%;
        height: 191px;
        object-fit:cover;
    }

    .bd-text4{
        grid-column: 7 / 13;
        grid-row: 4;
        margin-top: 24px;
    }

    .bd-text5{
        grid-column: 7 / 13;
        grid-row: 5;
        margin-top: 24px;
    }

    .var3{
        grid-column: 7 / 10;
        grid-row: 3;
        margin-top: 24px;
    }

    .var4{
        grid-column: 10 / 13;
        grid-row: 3;
        margin-top: 24px;
    }


    /*ТРЕТИЙ БЛОК МЕРОПРИЯТИЙ - ЛАГЕРЬ*/

    .event-h3{
        grid-column: 1 / 7;
        grid-row: 1;
    }

    .event-h3 h3{
        font-size: 56px;
        background-size: 156px;
        background-position: left 440px top -18px;
    }

    .event-info{
        display: grid;
        grid-template-columns: repeat(12, 1fr); /* 12 колонок */
        grid-template-rows: repeat(6, auto);    /* 4 строки */
        column-gap: 24px;
        align-items:start;
        margin-bottom: 104px;
    }

    .event-text{
        grid-column: 1 / 5;
        grid-row: 2;
    }

    .event-text2{
        grid-column: 1 / 5;
        grid-row: 3;
        margin-top: 24px;
    }

    .var5{
        grid-column: 5 / 9;
        grid-row: 2 / 4;
    }

    .var6{
        grid-column: 9 / 13;
        grid-row: 2 / 4;
    }

    .event-image{
        grid-column: 1 / 5;
        grid-row: 4 / 7;
        max-width: 420px;
        width: 100%;
        height: 240px;
        margin-top: 24px;
    }

    .event-h3-2{
        grid-column: 5 / 13;
        grid-row: 4;
        margin-top: 24px;
    }

    .event-h3-2 h3{
        font-size: 56px;
    }

    .event-text3{
        grid-column: 5 / 13;
        grid-row: 5;
        margin-top: 24px;
    }

    .event-text4{
        grid-column: 5 / 13;
        grid-row: 5 / 6;
        margin-top: 120px;
    }

    .var7{
        grid-column: 1 / 5;
        grid-row: 5 / 6;
        margin-top: 200px;
    }

    .event-text5{
        grid-column: 5 / 13;
        grid-row: 5 / 6;
        margin-top: 296px;
        justify-content: space-between;
    }

}

@media (min-width: 1194px) and (max-width: 1439px)  {

    .content4 {
        margin: 0 auto;
        padding: 0 49px;  
    }

    .marquee {
        margin-top: 48px;
        margin-bottom: 48px;
    }

    .slide {
        width: 1644px;
        height: 184px;
        flex-shrink: 0;
        margin-right: 80px;
    }

    .masked {
        width: 100%;
        height: 184px;
        /* ВОТ ТУТ ТВОЙ SVG */
        -webkit-mask: url("/images/PARTY3.svg") no-repeat center;
        mask: url("/images/PARTY3.svg") no-repeat center;
    }


    .hp-h3 h3{
        font-size: 48px;
        background-size: 136px;
        background-position: left 580px top -12px;
    }

    .hb-info{
        grid-template-columns: repeat(12, 1fr); /* 12 колонок */
        grid-template-rows: repeat(2, auto);    /* 4 строки */
        column-gap: 32px;
        margin-bottom: 88px;
    }

    .hb-text1{
        grid-column: 1 / 13;
        grid-row: 1;
        margin-bottom: 24px;
    }

    .hb-image{
        max-width: 600px;
        width: 100%;
        height: 260px;
    }

    .hb-image2{
        max-width: 600px;
        width: 100%;
        height: 260px;
    }

    .var1{
        grid-column: 1 / 5;
        grid-row: 2;
    }

    .hb-text2{
        grid-column: 5 / 9;
        grid-row: 2;
    }

    .var2{
        grid-column: 9 / 13;
        grid-row: 2;
    }



    /*ВТОРОЙ БЛОК МЕРОПРИЯТИЙ - BEAUTY DAY*/

    .bd-h3 h3{
        font-size: 48px;
        margin-bottom: 32px;
        margin-top: 88px;
    }

    .bd-info{
        grid-template-columns: repeat(12, 1fr); /* 12 колонок */
        grid-template-rows: repeat(6, auto);    /* 4 строки */
        column-gap: 24px;
        margin-bottom: 88px;
    }

    .bd-text1{
        grid-column: 1 / 13;
        grid-row: 1;
    }

    .bd-text2{
        grid-column: 1 / 7;
        grid-row: 2;
        margin-top: 24px;
    }

    .bd-text3{
        grid-column: 1 / 7;
        grid-row: 3;
        margin-top: 24px;
    }

    .bd-image1{
        grid-column: 7 / 13;
        grid-row: 2;
        max-width: 600px;
        width: 100%;
        height: 232px;
    }

    .bd-image2{
        grid-column: 1 / 7;
        grid-row: 4 / 7;
        max-width: 700px;
        width: 100%;
        height: 386px;
        margin-top: 24px;
    }

    .bd-image{
        max-width: 304px;
        width: 100%;
        height: 191px;
        object-fit:cover;
    }

    .bd-text4{
        grid-column: 7 / 13;
        grid-row: 4;
        margin-top: 24px;
    }

    .bd-text5{
        grid-column: 7 / 13;
        grid-row: 5;
        margin-top: 24px;
    }

    .var3{
        grid-column: 7 / 10;
        grid-row: 3;
        margin-top: 24px;
    }

    .var4{
        grid-column: 10 / 13;
        grid-row: 3;
        margin-top: 24px;
    }


    /*ТРЕТИЙ БЛОК МЕРОПРИЯТИЙ - ЛАГЕРЬ*/

    .event-h3{
        grid-column: 1 / 7;
        grid-row: 1;
    }

    .event-h3 h3{
        font-size: 48px;
        background-size: 136px;
        background-position: left 380px top -12px;
    }

    .event-info{
        display: grid;
        grid-template-columns: repeat(12, 1fr); /* 12 колонок */
        grid-template-rows: repeat(6, auto);    /* 4 строки */
        column-gap: 24px;
        align-items:start;
        margin-bottom: 88px;
    }

    .event-text{
        grid-column: 1 / 5;
        grid-row: 2;
    }

    .event-text2{
        grid-column: 1 / 5;
        grid-row: 3;
        margin-top: 24px;
    }

    .var5{
        grid-column: 5 / 9;
        grid-row: 2 / 4;
    }

    .var6{
        grid-column: 9 / 13;
        grid-row: 2 / 4;
    }

    .event-image{
        grid-column: 1 / 5;
        grid-row: 4 / 7;
        max-width: 420px;
        width: 100%;
        height: 240px;
        margin-top: 24px;
    }

    .event-h3-2{
        grid-column: 5 / 13;
        grid-row: 4;
        margin-top: 24px;
    }

    .event-h3-2 h3{
        font-size: 56px;
    }

    .event-text3{
        grid-column: 5 / 13;
        grid-row: 5;
        margin-top: 24px;
    }

    .event-text4{
        grid-column: 5 / 13;
        grid-row: 5 / 6;
        margin-top: 120px;
    }

    .var7{
        grid-column: 1 / 5;
        grid-row: 5 / 6;
        margin-top: 240px;
    }

    .event-text5{
        grid-column: 5 / 13;
        grid-row: 5 / 6;
        margin-top: 296px;
        justify-content: space-between;
    }
}

@media (min-width: 875px) and (max-width: 1193px)  {
    .stripes2 {
        -webkit-mask-size: 136% 136%;
        mask-size: 136% 136%;
    }

    .hb-image{
        height: 258px !important;
    }

    .hb-image2{
        height: 258px !important;
    }

    .bd-image1{
        height: 258px !important;
    }

    .bd-image2{
        height: 258px !important;
    }

    .bd-image{
        height: 258px !important;
    }

    .event-image{
        height: 258px !important;
    }

}

@media (min-width: 300px) and (max-width: 1193px)  {
    .marquee {
        margin-top: 48px;
        margin-bottom: 48px;
    }

    .slide {
        width: 1298px;
        height: 145px;
        margin-right: 80px;
    }

    .masked {
        width: 100%;
        height: 145px;
        /* ВОТ ТУТ ТВОЙ SVG */
        -webkit-mask: url("/images/PARTY4.svg") no-repeat center;
        mask: url("/images/PARTY4.svg") no-repeat center;
    }

    .content4 {
        margin: 0 auto;
        padding: 0 48px;  
    }

    .hp-h3 h3{
        margin:0;
        font-size: 36px;
        padding-top: 2px;
        background-size: 80px;
        background-position: left 442px top 0px;
        margin-bottom: 16px;
    }

    .hb-info{
        grid-template-columns: repeat(8, 1fr); /* 12 колонок */
        grid-template-rows: repeat(3, auto);    /* 4 строки */
        column-gap: 24px;
        row-gap: 24px;
        margin-bottom: 80px;
    }

    .hb-text1{
        grid-column: 1 / 9;
        grid-row: 1;
        margin-bottom: 0px;
    }

    .hb-image{
        max-width: 600px;
        width: 100%;
        height: 212px;
    }

    .hb-image2{
        max-width: 600px;
        width: 100%;
        height: 212px;
    }

    .var1{
        grid-column: 1 / 5;
        grid-row: 2;
    }

    .hb-text2{
        grid-column: 1 / 9;
        grid-row: 3;
    }

    .var2{
        grid-column: 5 / 9;
        grid-row: 2;
    }

    /*ВТОРОЙ БЛОК МЕРОПРИЯТИЙ - BEAUTY DAY*/

    .bd-h3 h3{
        font-size: 36px;
        margin-bottom: 24px;
        margin-top: 80px;
    }

    .bd-info{
        grid-template-columns: repeat(8, 1fr); /* 12 колонок */
        grid-template-rows: repeat(6, auto);    /* 4 строки */
        column-gap: 24px;
        row-gap: 24px;
        margin-bottom: 88px;
    }

    .bd-text1{
        grid-column: 1 / 9;
        grid-row: 1;
    }

    .bd-text2{
        grid-column: 1 / 9;
        grid-row: 2;
        margin-top: 0px;
    }

    .bd-text3{
        grid-column: 1 / 9;
        grid-row: 3;
        margin-top: 0px;
    }

    .bd-image1{
        grid-column: 5 / 9;
        grid-row: 4;
        max-width: 600px;
        width: 100%;
        height: 200px;
    }

    .bd-image2{
        grid-column: 1 / 5;
        grid-row: 4;
        max-width: 600px;
        width: 100%;
        height: 200px;
        margin-top: 0px;
    }

    .bd-image{
        max-width: 600px;
        width: 100%;
        height: 200px;
        object-fit:cover;
    }

    .bd-text4{
        grid-column: 1 / 9;
        grid-row: 5;
        margin-top: 0px;
    }

    .bd-text5{
        grid-column: 1 / 9;
        grid-row: 7;
        margin-top: 0px;
    }

    .var3{
        grid-column: 1 / 5;
        grid-row: 6;
        margin-top: 0px;
    }

    .var4{
        grid-column: 5 / 9;
        grid-row: 6;
        margin-top: 0px;
    }

    /*ТРЕТИЙ БЛОК МЕРОПРИЯТИЙ - ЛАГЕРЬ*/

    .event-h3{
        grid-column: 1 / 9;
        grid-row: 1;
    }

    .event-h3 h3{
        margin:0;
        font-size: 36px;
        padding-top: 2px;
        background-size: 80px;
        background-position: left 294px top 0px;
        margin-bottom: 16px;
    }

    .event-info{
        display: grid;
        grid-template-columns: repeat(8, 1fr); /* 12 колонок */
        grid-template-rows: repeat(8, auto);    /* 4 строки */
        column-gap: 24px;
        row-gap: 24px;
        align-items:start;
        margin-bottom: 80px;
    }

    .event-text{
        grid-column: 1 / 5;
        grid-row: 2;
    }

    .event-text2{
        grid-column: 5 / 9;
        grid-row: 2;
        margin-top: 0px;
    }

    .var5{
        grid-column: 1 / 5;
        grid-row: 3;
    }

    .var6{
        grid-column: 5 / 9;
        grid-row: 3;
    }

    .event-image{
        grid-column: 1 / 5;
        grid-row: 7;
        max-width: 600px;
        width: 100%;
        height: 200px;
        margin-top: 0px;
    }

    .event-h3-2{
        grid-column: 1 / 9;
        grid-row: 4;
        margin-top: 0px;
    }

    .event-h3-2 h3{
        font-size: 36px;
    }

    .event-text3{
        grid-column: 1 / 9;
        grid-row: 5;
        margin-top: 0px;
    }

    .event-text4{
        grid-column: 1 / 9;
        grid-row: 6;
        margin-top: 0px;
    }

    .var7{
        grid-column: 5 / 9;
        grid-row: 7;
        margin-top: 0px;
    }

    .event-text5{
        grid-column: 1 / 9;
        grid-row: 8;
        margin-top: 0px;
        justify-content: space-between;
    }

    h1{
        font-size: 88px;
    }

    .btn-news{
        width:242px;
        height:44px;
        font-size:18px;
        margin-top:16px;
        margin-bottom: 24px;
    }
}

@media (max-width: 712px) {
    /*БЕГУЩАЯ СТРОКА*/

    .marquee {
        margin-top: 48px;
        margin-bottom: 48px;
    }

    .slide {
        width: 1038px;
        height: 116px;
        margin-right: 80px;
    }

    .masked {
        width: 100%;
        height: 116px;
        /* ВОТ ТУТ ТВОЙ SVG */
        -webkit-mask: url("/images/PARTY5.svg") no-repeat center;
        mask: url("/images/PARTY5.svg") no-repeat center;
    }

    /*ГРАДИЕНТ*/
    .stripes2 {
        /* Маска — только чтобы оставить форму полосок */
        -webkit-mask-image: url("/images/stripe-event.svg");
        -webkit-mask-size: 100% 100%;
        
        mask-image: url("/images/stripe-event.svg");
        mask-size: 100% 100%;
    }

    .content4 {
        margin: 0 auto;
        padding: 0 20px !important; 
    }

    .hp-h3 h3{
        margin:0;
        font-size: 24px !important;
        padding-top: 8px !important;
        background-size: 80px !important;
        background-position: left 280px top -4px !important;
        margin-bottom: 24px !important;
    }

     .hb-info {
        margin-bottom: 40px !important;
        row-gap: 16px;
        column-gap: 16px;
     }
    
    /*ВТОРОЙ БЛОК МЕРОПРИЯТИЙ - BEAUTY DAY*/

    .bd-info{
        column-gap: 16px;
        row-gap: 16px;
        margin-bottom: 64px;
    }

    .bd-h3 h3{
        font-size: 24px !important;
        margin-bottom: 24px !important;
        margin-top: 40px !important;
    }

    /*ТРЕТИЙ БЛОК МЕРОПРИЯТИЙ - ЛАГЕРЬ*/

    .event-h3{
        grid-column: 1 / 9;
        grid-row: 1;
    }

    .event-h3 h3{
         margin:0;
        font-size: 24px !important;
        padding-top: 8px !important;
        background-size: 80px !important;
        background-position: left 186px top -4px !important;
        margin-bottom: 16px !important;
    }

    .event-info{
        display: grid;
        grid-template-columns: repeat(8, 1fr); /* 12 колонок */
        grid-template-rows: repeat(10, auto);    /* 4 строки */
        column-gap: 16px;
        row-gap: 16px;
        align-items:start;
        margin-bottom: 64px;
    }

    .event-text{
        grid-column: 1 / 9;
        grid-row: 2;
    }

    .event-text2{
        grid-column: 1 / 9;
        grid-row: 3;
        margin-top: 0px;
    }

    .var5{
        grid-column: 1 / 5;
        grid-row: 4;
    }

    .var6{
        grid-column: 5 / 9;
        grid-row: 4;
    }

    .event-image{
        grid-column: 1 / 5;
        grid-row: 8;
        max-width: 600px;
        width: 100%;
        height: 200px;
        margin-top: 0px;
    }

    .event-h3-2{
        grid-column: 1 / 9;
        grid-row: 5;
        margin-top: 24px;
    }

    .event-h3-2 h3{
        font-size: 24px;
    }

    .event-text3{
        grid-column: 1 / 9;
        grid-row: 7;
        margin-top: 0px;
    }

    .event-text4{
        grid-column: 1 / 9;
        grid-row: 9;
        margin-top: 0px;
    }

    .var7{
        grid-column: 5 / 9;
        grid-row: 8;
        margin-top: 0px;
    }

    .event-text5{
        grid-column: 1 / 9;
        grid-row: 10;
        margin-top: 0px;
        justify-content: space-between;
    }

    h1{
        font-size: 52px !important;
    }
}

@media (min-width: 300px) and (max-width: 614px) {
    .stripes2 {
        /* Маска — только чтобы оставить форму полосок */
        -webkit-mask-image: url("/images/stripe-event.svg");
        -webkit-mask-size: 100% 100%;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center;
        
        mask-image: url("/images/stripe-event.svg");
        mask-size: 100% 100%;
        mask-repeat: no-repeat;
        mask-position: center;
    }

    .hb-image{
        height: 140px !important;
    }

    .hb-image2{
        height: 140px !important;
    }

    .bd-image1{
        height: 140px !important;
    }

    .bd-image2{
        height: 140px !important;
    }

    .bd-image{
        height: 140px !important;
    }

    .event-image{
        height: 140px !important;
    }

    h1{
        font-size: 48px !important;
    }
}