/*СТИЛИ ДЛЯ СТРАНИЦЫ ПУТЕШЕСТВИЙ*/
.modal-overlay-tablet {
    display: none;
}


:root {
    --highlight-color: #7BBCFE;
    --modal-bg: rgba(5, 10, 20, 0.95);
    --modal-text-color: #fff;
}


.travel-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 56px;
}

.text-width{
    width: 1128px;
}

.travel-margin{
    margin-top: 124px;
    margin-bottom: 48px;
}

h3{
    font-size: 72px;
    font-weight: 300;
    color: white;
    margin: 0;
    background-image: url('/images/Polosy.png');
    background-size: 188px;
    background-repeat: no-repeat;
    background-position: left 912px top -20px;
    margin-bottom: 40px;
}

.mobile-br{
    display:none;
}

.btn-travel {
    background: #D3E5FF;
    color: #000;
    border: none;
    cursor: pointer;
    width: 408px;
    height: 44px;
    font-size: 18px;
    font-weight: 300;
}

.btn-travel:hover{
    background: #003497;
    color: #fff;
}

.btn-travel:active{
     background: #003497;
    color: #fff;
    opacity: 0.5;
}


/*КАРТА*/

.travel-map-scroll {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    touch-action: pan-x;

    border: 2px solid #003497;
    border-radius: 8px;
    background-color: #0e1c2c;
}

.travel-map-block {
    position: relative;
    width: 100%;
    max-width: 1702px;
    aspect-ratio: 1702 / 1096;
    margin: 0px auto;
    overflow: hidden;
    background-color: #0e1c2c;
}

.travel-map-block .world-map {
    width: 100%;
    height: 100%;
    background-image: url('/images/world.png');
    background-size: cover;
    background-position: center;
    filter: brightness(0.56);

    will-change: transform;
    transform: translateZ(0);
}

.travel-map-block,
.travel-map-scroll {
    box-sizing: border-box;
}

#markers {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* маркеры сами перехватывают клики */
}

.country-marker {
    position: absolute;
    color: var(--highlight-color);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    font-size: 13px;
    text-align: center;
    pointer-events: all;
    transform: translate(-50%, -50%);
    user-select: none;
}

.country-marker .arrow {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 10px solid var(--highlight-color);
    animation: upDown 1s ease-in-out infinite alternate;
}

.country-marker .arrow:hover{
    border-bottom: 10px solid #003497;
}

.country-marker .arrow:after{
    border-bottom: 10px solid #003497;
    opacity: 0.5;
}

@keyframes upDown {
    from { transform: translateY(0); }
    to   { transform: translateY(5px); }
}




.modal-overlay {
    position: absolute;
    inset: 0;
    background: #070707;
    display: none;
    z-index: 50;
    color: #fff;
}

.modal-content {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.country-page {
    padding: 104px 104px;
}

.country-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}

.close-button {
    position: static;
    background: none;
    border: none;
    color: #aaa;
    font-size: 24px;
    cursor: pointer;
}

.close-button:hover {
    color: white;
}

.country-header h2 {
    font-size: 72px;
    font-weight: 300;
    color: white;
    margin: 0;
    margin-bottom: 24px;
}

.country-tabs {
    display: flex;
    gap: 48px;
    align-items: center;
}

.country-tabs button {
    background: none;
    border: none;
    color: #aaa;
    font-size: 24px;
    cursor: pointer;
}

.country-grid {
    display: grid;
    grid-template-columns: 1fr 1.4fr 1fr;
    gap: 24px;
    align-items: start;
}

.country-left,
.country-right {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.country-grid img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.country-left img {
    height: 264px;
}

.country-center img {
    height: 760px;
}

.country-right img {
    height: 266px;
}

.country-grid p {
    font-size: 24px;
    line-height: 1.25;
    font-weight: 300;
    margin: 0;
    color: white;
}




@media (min-width: 1740px) and (max-width: 1919px) {

    .travel-map-block {
        position: relative;
        width: 100%;
        max-width: 1702px;
        aspect-ratio: 1702 / 1096;
    }

    h3{
        font-size: 64px;
        background-size: 188px;
        background-repeat: no-repeat;
        background-position: left 792px top -24px;
        margin-bottom: 32px;
    }

    .country-header h2 {
        font-size: 64px;
        margin-bottom: 24px;
    }

    .country-page {
        padding: 88px 88px;
    }

    .close-button {
        font-size: 24px;
    }

    .country-tabs {
        display: flex;
        gap: 48px;
        align-items: center;
    }

    .country-tabs button {
        font-size: 24px;
    }

    .country-left img {
        height: 254px;
    }

    .country-center img {
        height: 754px;
    }

    .country-right img {
        height: 260px;
    }

    .country-grid p {
        font-size: 24px;
        line-height: 1.25;
    }
}

@media (min-width: 1740px) and (max-width: 1830px) {
    .country-center img {
        height: 764px;
    }
    .country-right img {
        height: 256px;
    }
}

@media (min-width: 1632px) and (max-width: 1740px) {
    .country-center img {
        height: 700px !important;
    }
    .country-right img {
        height: 250px !important;
    }
}

@media (min-width: 1440px) and (max-width: 1740px) {
    h3{
        font-size: 56px;
        background-size: 156px;
        background-repeat: no-repeat;
        background-position: left 700px top -18px;
        margin-bottom: 32px;
    }

    .travel-margin{
        margin-top: 104px;
        margin-bottom: 32px;
    }

    .travel-content{
        margin-top: 32px;
    }

    .country-header h2 {
        font-size: 56px;
        margin-bottom: 24px;
    }

    .country-page {
        padding: 80px 80px;
    }

    .close-button {
        font-size: 22px;
    }

    .country-tabs {
        display: flex;
        gap: 32px;
        align-items: center;
    }

    .country-tabs button {
        font-size: 22px;
    }

    .country-left img {
        height: 220px;
    }

    .country-center img {
        height: 668px;
    }

    .country-right img {
        height: 220px;
    }

    .country-grid p {
        font-size: 22px;
        line-height: 1.2;
    }
}

@media (min-width: 1140px) and (max-width: 1480px)  {
    .country-grid {
        grid-template-columns: 1.25fr 1.15fr 1fr;
        gap: 24px;
    }

    .country-center img {
        height: 608px;
    }

    .country-right img {
        height: 188px;
    }
}

@media (min-width: 1194px) and (max-width: 1440px)  {
    h3{
        font-size: 48px;
        background-size: 136px;
        background-repeat: no-repeat;
        background-position: left 600px top -12px;
        margin-bottom: 32px;
    }

    .travel-margin{
        margin-top: 88px;
        margin-bottom: 32px;
    }

    .text-width{
        width: 80%;
    }

    .country-grid {
        grid-template-columns: 1.2fr 1.2fr 1fr;
        gap: 24px;
    }

    .country-header h2 {
        font-size: 48px;
        margin-bottom: 24px;
    }

    .country-page {
        padding: 72px 72px;
    }

    .close-button {
        font-size: 20px;
    }

    .country-tabs {
        display: flex;
        gap: 24px;
        align-items: center;
    }

    .country-tabs button {
        font-size: 20px;
    }

    .country-left img {
        height: 220px;
    }

    .country-center img {
        height: 600px;
    }

    .country-right img {
        height: 192px;
    }

    .country-grid p {
        font-size: 20px;
        line-height: 1.2;
    }

    .country-left img {
        height: 210px;
    }

    .country-center img {
        height: 600px;
    }

    .country-right img {
        height: 192px;
    }
}

@media (min-width: 1194px) and (max-width: 1308px)  {

    .country-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
    }

    .country-left,
    .country-center,
    .country-right {
        display: contents;
    }

    .country-left p:first-child {
        grid-column: 1 / -1;
        order: 1;
    }

    .country-left img {
        grid-column: auto;
        order: 2;
    }

    .country-center {
        display: contents;
    }

    .country-center img {
        grid-column: auto;
        order: 3;
    }

    .country-left p:last-child {
        grid-column: 1 / -1;
        order: 4;
    }

    .country-right img:first-child {
        grid-column: auto;
        order: 5;
    }

    .country-right img:last-child {
        grid-column: auto;
        order: 6;
    }

    .country-right p {
        grid-column: 1 / -1;
        order: 7;
    }

    .country-grid img {
        width: 100%;
        height: 260px;
        object-fit: cover;
    }

}

@media (min-width: 712px) and (max-width: 1193px)  {
    .country-grid p {
        font-size: 18px;
        line-height: 1.1;
    }

    h3{
        font-size: 36px;
        padding-top: 2px;
        background-size: 80px;
        background-position: left 460px top 0px;
        margin-bottom: 24px;
    }

    .country-header h2 {
        font-size: 36px;
        margin-bottom: 24px;
    }

    .travel-margin{
        margin-top: 80px;
        margin-bottom: 24px;
    }

    .text-width{
        width: 100%;
    }

    .travel-content{
        margin-top: 32px;
    }

    .travel-map-scroll {
        margin: 20px 0;
        padding-bottom: 0px;
    }

    .travel-map-block {
        width: 1460px;
        min-width: 1460px;
        height: 940px;
        aspect-ratio: auto;
        margin: 0;
    }

    .travel-map-block .world-map {
        background-size: cover;
        background-position: center;
    }

    .btn-travel {
        max-width: 408px;
        width: 48%;
        height: 44px;
        font-size: 18px;
    }

    .text-travel-width{
        width: 48%;
    }


    .modal-overlay-desktop {
        display: none !important;
    }

    .content:has(.travel-map-scroll) {
        position: relative;
    }

    .modal-overlay-tablet {
        position: absolute;
        top: 0;
        left: 48px;
        right: 48px;
        width: auto;
        height: 940px;
        max-width: 100%;
        background: #070707;
        z-index: 999;
        color: #fff;
        overflow: hidden;
        border: none;
        box-sizing: border-box;
        border: 2px solid #003497;
    }

    .modal-overlay-tablet .modal-content {
        width: auto;
        max-width: 100%;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        box-sizing: border-box;
    }

    .country-page {
        padding: 48px 48px;
    }
    
    .country-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
    }

    .country-left,
    .country-center,
    .country-right {
        display: contents;
    }

    .country-left p:first-child {
        grid-column: 1 / -1;
        order: 1;
    }

    .country-left img {
        grid-column: auto;
        order: 2;
    }

    .country-center {
        display: contents;
    }

    .country-center img {
        grid-column: auto;
        order: 3;
    }

    .country-left p:last-child {
        grid-column: 1 / -1;
        order: 4;
    }

    .country-right img:first-child {
        grid-column: auto;
        order: 5;
    }

    .country-right img:last-child {
        grid-column: auto;
        order: 6;
    }

    .country-right p {
        grid-column: 1 / -1;
        order: 7;
    }

    .country-grid img {
        width: 100%;
        height: 260px;
        object-fit: cover;
    }
}

@media (min-width: 300px) and (max-width: 712px) {


    h3{
        font-size: 24px;
        padding-top: 8px;
        background-size: 80px;
        background-position: left 216px top -4px;
        margin-bottom: 24px;
    }

    .travel-margin{
        margin-top: 64px;
        margin-bottom: 24px;
    }

    .text-width{
        width: 100%;
    }

    .travel-content{
        margin-top: 24px;
    }

    .travel-content{
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        margin-top: 56px;
    }

    .travel-map-scroll {
        width: 100%;
        height: 560px;
        margin: 20px 0;
        padding: 0;
    }

    .travel-map-block {
        width: 869px;
        min-width: 869px;
        height: 560px;
        margin: 0;
        aspect-ratio: auto;
    }

    .travel-map-scroll {
        scroll-padding-left: 0;
    }

    .travel-map-block .world-map {
        background-position: left center;
    }

    .mobile-br{
        display:block;
    }

    .btn-travel {
        max-width: 408px;
        width: 100%;
        height: 44px;
        font-size: 16px;
        margin-top: 24px;
    }

    .modal-overlay-desktop {
        display: none !important;
    }

    .content:has(.travel-map-scroll) {
        position: relative;
    }

    .modal-overlay-tablet {
        position: absolute;
        top: 0;
        left: 20px;
        right: 20px;
        width: auto;
        height: 560px;
        max-width: 100%;
        background: #070707;
        z-index: 999;
        color: #fff;
        overflow: hidden;
        border: none;
        box-sizing: border-box;
        border: 2px solid #003497;
    }

    .modal-overlay-tablet .modal-content {
        width: auto;
        max-width: 100%;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        box-sizing: border-box;
    }

    .country-page {
        padding: 24px 24px;
    }
    
    .country-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
    }

    .country-left,
    .country-center,
    .country-right {
        display: contents;
    }

    .country-left p:first-child {
        grid-column: 1 / -1;
        order: 1;
    }

    .country-left img {
        grid-column: auto;
        order: 2;
    }

    .country-center {
        display: contents;
    }

    .country-center img {
        grid-column: auto;
        order: 3;
    }

    .country-left p:last-child {
        grid-column: 1 / -1;
        order: 4;
    }

    .country-right img:first-child {
        grid-column: auto;
        order: 5;
    }

    .country-right img:last-child {
        grid-column: auto;
        order: 6;
    }

    .country-right p {
        grid-column: 1 / -1;
        order: 7;
    }

    .country-grid img {
        width: 100%;
        height: 140px;
        object-fit: cover;
    }

    .close-button {
        font-size: 18px;
    }

    .country-tabs {
        display: flex;
        gap: 32px;
        align-items: center;
    }

    .country-tabs button {
        font-size: 18px;
    }

    .country-grid p {
        font-size: 16px;
        line-height: 1.1;
    }

    .country-header h2 {
        font-size: 24px;
        margin-bottom: 0px;
    }

    .country-header{
        margin-bottom: 16px;
    }
}







